* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(0, 0, 0);
}
.main {
  background-image: url(img/IN-en-20231204-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
  height: 70vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1500px, 100vw);
  position: relative;
  margin: 0;
}
.box {
  height: 70vh;
  width: 100vw;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0);
}
nav {
  display: flex;
  max-width: 90vw;
  width: 100%;
  margin: auto auto;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}
nav img {
  position: relative;
  z-index: 1;
  width: 135px;
}
.btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 21px;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.btn:hover {
  background-color: red;
  color: white;
  padding: 5px 31px;
}
.main input{
  color: white;
  font-weight: 600;
  border: 2px solid rgba(166, 155, 155, 0.5);
  background-color: rgba(0, 0, 0, 0.647);
  padding:7px 55px 8px 15px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.hero {
  position: relative;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
  padding:0 30px;

  color: white;
   font-family:"poppins";
}
.bt{
  cursor: pointer;
  padding: 3px 8px;
  font-weight: bold;
  color:white;
  background-color: #252424ab;
}
.hero> :first-child {
  font-weight: bolder;
  font-size: 42px;
  text-align: center;
}
.hero> :nth-child(2) {
  font-size: 19px;
  text-align: center;
}
.hero> :nth-child(4){
  
  display: flex;
  gap: 20px;
  justify-content: space-around;
  text-align: center;
}
.seperation{
  height: 7px;
  background-color: rgb(61, 58, 58);
}
.first{
  display: flex;
  justify-content:center;
  max-width:  70vw;
  margin: auto;
  color: white;
  justify-content:space-around;
  align-items: center;
}
.secimg{
  position: relative;
}
.secimg img{
  position: relative;
  z-index: 10;
  width: 30vw;
}
.secimg img:hover{

  z-index: 10;
  width: 32vw;
}
.secimg video{
  position: absolute;
  top: 60px;
  right: 0;
  width: 26vw;
}
.secimg video:hover{
  top: 60px;
  right: 0;
  width: 27vw;
}
section.first .text{
  text-align: left;
  display: flex;
  flex-direction: column;
}
section.first .text :first-child{
  font-family: poppins;
  font-weight: 900;
  font-size: 47px;
}
section.first .text :nth-child(2){
  font-family:poppins;
  font-size:30px;
}
.third video {
  position: absolute;
  top: 31px;
  right: 18%;
  width: 20vw;
}
.faq{
  color:white ;
  font-family: monospace;
}
.faq h1{
  text-align: center;
  
  font-size: 45px;

}
.faqbox:hover{
  background-color: rgb(109, 103, 103);
  max-width: 51vw;
}
.faqbox{
    color: white;
    display: flex;
     background-color: rgb(53, 53, 53);
     max-width: 50vw;
     padding: 15px;
    margin: 8px auto;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
  font-size: 22px;
  }